*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.logo{
    font-size: 20px;
    margin: 30px 100px;
    display: flex;
}

.logo a{
    color: white;
}

.nav ul{
    list-style-type: none;
    display: flex;
    margin: 0px 1655px;
    margin-right: -100px;
}

.nav ul li{
    color: grey;
    width: 100px;
    font-size: 25px;
}

.opis{
    margin: 30px 100px;
    width: 1000px;
}

.opis h1{
    font-size: 50px;
    width: 2000px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.image img{
    margin: -10px 200px;
    width: 800px;
    border-radius: 20px;
}

.is{
    display: flex;
}

.sizebtn h1{
    font-size: 50px;
}

.sizebtn button,h3{
    width: 200px;
    height: 50px;
    border-radius: 20px;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.harakter{
    margin: 135px -590px;
    width: 500px;
}

.money{
    margin: 150px 70px;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.money p{
    margin-top: 40px;
}

.butns{
    display: flex;
    margin: 0px 300px;
}

.butns button{
    width: 300px;
    height: 80px;
    border-radius: 20px;
    color: white;
    font-size: 20px;
    margin: 400px -330px;
}

.btnn{
    margin-left: 100px;
}